<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header> -->

<div class="container" ng-controller='MainCtrl'>
      <h1 class="page-header">Enter your e-mail to get an invitation:</h1>
      <form name='request' ng-submit="requestInvite()">
        <div class="input-group">
          <input type="email" class="form-control" name="email" ng-model="emailInput" placeholder="Enter your e-mail address.">
          <span class="input-group-btn">
          <input type='submit' class="btn btn-default" type="button" name='submitRequest' value='Join the Waitlist'>
          </span>
        </div><!-- /input-group -->
      </form>
      <div>
        <alert ng-model='alerts' ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
</div>

<footer class="footer">
  <div class="container">
      <p>InviteMe v0.0.1</p>
  </div>
</footer>
